$black: #101010;
$black-1: #232323;
$gray: #868686;
$gray-1: #e8e8e8;
$gray-light: #f3f3f3;

$lavende: #e2beff;
$blue: #1059c8;
$violet: #7941a7;
$green-light: #9effbf;

$mobile-sm: "min-width: 320px";
$mobile: "max-width:480px";
$tablet: "max-width:768px";
$notebook: "max-width:1024px";
